@import "./src/styles/mixins";
@import "./src/styles/variables";

.loading-modal-img {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .loading-modal-img {
    animation: loading-modal-img-spin infinite 1s linear;
  }
}

@keyframes loading-modal-img-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
