// this file is supposed to contain mixins, but I didn't use any, so I just made one up as a sort of placeholder
@mixin img-container() {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 576px;
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}
